.aboba {
  position: relative;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border-radius: 10px;
  
height: 300px;
overflow: hidden;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  text-decoration-line: red;
  text-decoration: none;
  background: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  text-align: center;
 z-index: 1;
  justify-content: center;
}
.loginMenu h1 {
  
}

.Square {
  opacity: 10%;
  z-index: 100000;
}
.aboba {
  position: relative;
  text-align: center;
  justify-content: center;
}

.login {
  position: relative;
  display: flex;
  justify-self: center;
}
body {
  background-color: #9ce4d3;
}