.pershiklas {
    justify-content: center;
  text-align: center;
  margin-top: 2% ;
  }
  .pershiklas h1 {
    color: yellow;
    text-shadow: rgb(124, 124, 124) 0 0 10px;
    font-size: 300%;
  }
.dfkjghku {
    display: grid;
    margin-left: 20%;
    justify-content: right;
}
