@media screen and (min-width: 700px) {
    .subtitlesss  {
        font-family: "Oswald", sans-serif;
        font-family: 'Balsamiq Sans', cursive;
        font-size: 300%;          

    }
    .subtitless  {
        font-family: "Oswald", sans-serif;
        font-family: 'Balsamiq Sans', cursive;       
margin-left: 5%;



    }

    .photo1 {
        position: relative;
        display: flex;
        justify-content: center;
        width:250px;
        height: 250px;
    
    }
    .Techers {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 700px) { 

    .photo1 {
        position: relative;
        display: grid;
        justify-content: center;
        width:250px;
        height: 250px;
    
    }
    .Techers {
        display: grid;
        justify-content: center;
        margin-bottom: 5%;
    }

}

.ttt .subtitless {
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    text-shadow: rgb(124, 124, 124) 0 0 5px;
}
.subtitlesss  {
    margin-top: 10% ;
    margin-left: 5%;


    letter-spacing: 3px;
    color: yellow;
    text-shadow: rgb(124, 124, 124) 0 0 5px;
margin-bottom: 5%;
}
