.SchoolName {
    margin-right: 7%;
    margin-left: 7%;
    font-size: 120%;
    font-weight: 150;
    margin-top: 0.5%;
    text-decoration: none;
    text-decoration-line: none;
}
.FooterCss{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    width: 100%;
    background: white;
    text-decoration: none;
    text-decoration-line: none;
}
.FotterText {
    margin-right: 7%;
    margin-left: 7%;
    font-size: 120%;
    font-weight: 450;
    margin-top: 0.5%;
    text-decoration: none;
    text-decoration-line: none;
  color: rgb(88, 88, 88);
  
}
.FotterText:hover {
    color: black;
    font-weight: 470;
}