
.square {
  position: absolute;
  width: 400px;
  z-index: -2;
  height: 400px;
  border-radius: 5px;
  transform: rotate(60deg);
  animation-name: starting;
  animation-duration: 15s;
  background-color: rgb(243, 74, 74);
}
@media screen and (max-width: 700px) {
  .square {

    width: 300px;
    height: 300px;
  }
}

@keyframes starting {
  0% {
    opacity: 0%;
    transform: rotate(0deg);
  }
  15% {
    opacity: 30%;
    transform: rotate(25deg);
  }
  25% {
    opacity: 100%;
    transform: rotate(60deg);
  }
  55% {
    opacity: 30%;
    transform: rotate(130deg);
  }
  65% {
    opacity: 100%;
    transform: rotate(150deg);
  }
  75% {
    opacity: 30%;
    transform: rotate(180deg);
  }
  85% {
    opacity: 100%;
    transform: rotate(200deg);
  }
  100% {
    opacity: 100%;
    transform: rotate(240deg);
  }
}

