.App {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #9ce4d3;
}


* {
  font-family: 'Balsamiq Sans', cursive;
}
.Title {
  display: flex;
}
.frf-trigger-button {
  background-color: yellowgreen;
}
@media screen and (max-width: 700px) {
  .triangle {

    border-left: 50px solid transparent;
    border-right:50px solid transparent;
    border-bottom: 100px solid rgb(0, 174, 255);
margin-top: 50% ;

  }
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 350px solid rgb(0, 174, 255);
  justify-content: right;

  margin-bottom: 10%;
  text-align: right;
  z-index: -2;
}
.shoolh {
  font-family: "Oswald", sans-serif;
  font-family: 'Balsamiq Sans', cursive;
}
.shool {
  position: relative;
  margin-top: 20%;
}
.shoolh {
  margin-left: 5%;
  color: yellow;
  text-shadow: rgb(124, 124, 124) 0 0 10px;
}
.FooterCss {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
}
.Classes {
  display: flex;
  justify-content: space-around;
}

.Classes_class {

  margin-top: 5%;
}
@media screen and (max-width: 700px) {
.Classes {
  display: grid;
  justify-content: center;
}


}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
